.aboutfood {
  margin: 2% 0;
  width: 100%;
  height: 80vh;
  background: rgba(255, 255, 255, 0.2);
  @include FR;
  justify-content: end;
  justify-self: end;
  .golden {
    width: 85%;
    height: 60%;
    background: gold;
    border-radius: 600px 0 0 600px;
    @include FR;
    justify-content: space-between;
    padding-right: 5%;
    .image {
      width: 50vh;
      height: 50vh;
      position: relative;
    //   background: white;
      border-radius: 50%;
      img{
        width: 100%;;
        position: absolute;
        top:50%;
        left:50% ;
        transform: translateX(-50%) translateY(-50%);
        height: 100%;
      }
    }
    .text {
      // background: white;
      width: 60%;
      height: 100%;
      @include FC;
      h1 {
        font-size: 2rem;
        font-style: italic;
      }
      p {
        font-size: 1.1rem;
      }
      button {
        border-radius: 25px;
        width: 50%;
        height: 10%;
        margin: 0 auto;
        background: gold;
        border: 1px solid $main;
        color: $main;
        &:hover {
          color: gold;
          border-color: gold;
          background: $main;
        }
      }
    }
  }
}
