.subs {
  @include FC;
  align-items: center;
  @include MFD;
  margin: 2% 0;
  height: 25vh;
  width: 100%;
  p {
    width: 40%;
  }
  button {
    width: 20%;
    border-radius: 20px;
    border: 1px solid red;
    height: 17%;
    background-color: wheat;
    color: red !important;
    &:hover {
      a {
        color: white;
      }
      color: white;
      background-color: red;
      border-color: wheat;
    }
  }
}
